#mainC{
    border: 3px solid blue;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body{
    font-family: "Comic Sans MS";
    overflow: hidden;
    margin: 0;
    user-select: none;
    background-color: #061330;
    color: white;
}