#mainC{
    border: 3px solid blue;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 50px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

body{
    font-family: "Comic Sans MS";
    overflow: hidden;
    margin: 0;
    background-color: #061330;
    color: white;
}

#explosion {
    position: absolute;
    background-size: cover;
    z-index: 9999;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    transform: translateX(-50%);
    transform: translateY(50%);
}

#set, #P{
    z-index:2;
    position:absolute;
}

.settings{
    margin: auto;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10000;
    border: 1px solid black;
    border-radius: 4%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    color: black;
}

.settings label {
    font-size: 20px;
}

#restart{
    width: max-content;
    font-size: 72px;
    position: fixed;
    left: 50%;
    z-index: 10000;
    transform: translate(-50%, 600px);
}
#restart:hover{
    text-decoration: underline;
}